<section class="bg-white py-5" id="contactUS">
  <div class="container padding-container">
    <div class="card mb-4">
      <div class="row g-0">
        <div class="col-md-5 bg-blue-dark d-table af-contactUs-table">
          <div class="af-contactUs">
            <fa-icon [icon]="faUserCircle" [size]="'8x'"></fa-icon>
            <h4 class="text-center my-4">Información de contacto</h4>
            <ul class="text-center px-3">
              <li class="d-flex my-3">
                <fa-icon [icon]="faEnvelope" [size]="'1x'"></fa-icon>
                <p class="my-0">01 8000 123 456</p>
              </li>
              <li class="d-flex my-3">
                <fa-icon [icon]="faPhone" [size]="'1x'"></fa-icon>
                <p class="my-0">prueba@prueba.com.co</p>
              </li>
              <li class="d-flex my-3">
                <fa-icon [icon]="faMapMarkerAlt" [size]="'1x'"></fa-icon>
                <p class="my-0">Avenida siempre viva calle falsa 123</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-7">
          <div class="card-body">
            <h5 class="text-start mb-4">Envia tu mensaje</h5>
            <div class="row">
              <div class="col-12 af-forms">
                <form [formGroup]="formGroupAssociated" class="form-floating">
                  <div class="mb-4 form-floating">
                    <input type="text" class="form-control" id="nameContactUs" formControlName="fullName" maxlength="50"
                      required>
                    <label for="nameContactUs">Nombre completo:*</label>
                  </div>
                  <div class="mb-4 form-floating">
                    <input type="email" class="form-control" id="emailContactUs" formControlName="email" maxlength="30"
                      required>
                    <label for="emailContactUs">Correo eletrónico:*</label>
                    <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electrónico.</div>
                  </div>
                  <div class="mb-4 form-floating">
                    <input type="tel" class="form-control" id="phoneContactUs" formControlName="phone" maxlength="10"
                      required>
                    <label for="phoneContactUs">Teléfono / Celular:*</label>
                  </div>
                  <div class="mb-4 form-floating">
                    <input type="text" class="form-control" id="AffairUs" formControlName="affair" maxlength="50"
                      required>
                    <label for="AffairUs">Asunto:*</label>
                  </div>
                  <div class="mb-4 form-floating">
                    <textarea class="form-control" id="messageContactUs" formControlName="message"></textarea>
                    <label for="messageContactUs">Mensaje:</label>
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit" (click)="registerUser()"
                      [disabled]="formGroupAssociated.invalid">Enviar</button>
                  </div>
                  <small class="text-muted">* Los campos son obligatorios</small>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-loading [hidden]="!showSpinner"></app-loading>