<div class="container-fluid p-0 padding-container bg-blue-light">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 pt-5 mx-0">
    <div class="col-md-4 col-sm-12 mb-4 text-center bg-white py-3">
      <img src="assets/img/logo.png" alt="Logo" height="60" class="img-fluid">
    </div>

    <div class="col-md-2 offset-md-1 col-sm-12 mb-4 interest">
      <h5>Te puede interesar</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a routerLink="inicio" fragment="af-main" routerLinkActive="router-link-active" class="nav-link p-0">
            Inicio
          </a>
        </li>
        <li class="nav-item mb-2">
          <a routerLink="aboutUs" routerLinkActive="router-link-active" class="nav-link p-0">
            Quiénes somos
          </a>
        </li>
        <li class="nav-item mb-2">
          <a routerLink="inicio" fragment="af-section4" routerLinkActive="router-link-active" class="nav-link p-0">
            Testimonios
          </a>
        </li>
        <li class="nav-item mb-2">
          <a routerLink="contactUs" routerLinkActive="router-link-active" class="nav-link p-0">
            Contáctanos
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-2 col-sm-12 mb-4 legals">
      <h5>Legales</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0">Protección de datos</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0">Mapa del sitio</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0">FAQs</a>
        </li>
      </ul>
    </div>

    <div class="col-md-3 col-sm-12 mb-4 doubts">
      <h5>¿Tienes dudas?</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <p class="m-0">
            Avenida siempre viva calle falsa 123
          </p>
        </li>
        <li class="nav-item mb-2">
          <p class="m-0">
            Linea de atención al cliente
            <br>
            01 8000 123 456
          </p>
        </li>
        <li class="nav-item mb-2">
          <p class="m-0">
            Chatea con nosotros o escríbenos
            <br>
            prueba@prueba.com.co
          </p>
        </li>
      </ul>
    </div>

    <div class="col-md-4 col-sm-12 p-0 copy-rigth">
      <p class="m-0">
        Copyright © 2023 Miguel Castillo - Todos los derechos reservados
      </p>
    </div>

    <div class="col-md-8 col-sm-12 p-0 social-network">
      <ul class="nav col-md-4 d-flex list-icons">
        <li class="nav-item">
          <a href="https://www.youtube.com" target="_blank" class="nav-link p-0 text-muted">
            <fa-icon [icon]="faYoutube"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://facebook.com" target="_blank" class="nav-link p-0 text-muted">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com" target="_blank" class="nav-link p-0 text-muted">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com" target="_blank" class="nav-link p-0 text-muted">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.tiktok.com" target="_blank" class="nav-link p-0 text-muted">
            <fa-icon [icon]="faTiktok"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</div>