/* Global */
#af-section3 .af-description h2,
#af-section3 .af-description p,
#af-section3 .af-description li {
  color: #ffffff !important;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

img.boy {
  aspect-ratio: 1/1;
}

img.mobile {
  aspect-ratio: 601/623;
}

img.computer {
  aspect-ratio: 641/577;
}

#af-section4 .af-carousel .card-img-top {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

h1 {
  width: fit-content;
}

/* Desktop */
@media (min-width: 992px) {
  h1 {
    font-weight: 700;
    letter-spacing: -0.6px;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1rem;
  }

  #af-main {
    padding: 160px 0 100px;
  }

  #af-section1,
  #af-section4 {
    padding: 80px 0;
  }

  #af-section2,
  #af-section3 {
    padding: 50px 0 80px;
  }

  #af-main .af-video iframe {
    width: 510px !important;
  }

  #af-main .af-description,
  #af-section1 .af-description,
  #af-section2 .af-description,
  #af-section3 .af-description,
  #af-section4 .af-description {
    padding: 0 45px;
  }

  #af-section4 .af-carousel .description {
    padding: 10px 100px;
  }
}

/* Mobile */
@media (max-width: 991px) {
  #af-main .af-video iframe {
    width: 100% !important;
  }

  #af-main {
    padding: 130px 16px 50px;
  }

  .af-text {
    order: 1;
  }

  .af-description {
    order: 2;
  }

  .af-image {
    margin-bottom: 24px;
  }

  #af-section1,
  #af-section2,
  #af-section3,
  #af-section4 {
    padding: 50px 16px;
  }
}
