<nav class="navbar navbar-expand-lg fixed-top bg-gray nav-padding" id="nav-section" #navbar>
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/inicio']">
      <img [ngSrc]="'assets/img/logoWEBP'" width="140" height="60" class="d-inline-block align-text-top" alt="Logo"
        priority>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" #btn>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" #navbarText>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/inicio']"
            routerLinkActive="router-link-active">
            Inicio
          </a>
        </li>
        <ng-container *ngIf="stateRol === 'user';else templateName">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/aboutUs']">
              Quiénes somos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/inicio']" [fragment]="'af-section4'">
              Testimonios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contactUs']">
              Contáctanos
            </a>
          </li>
        </ng-container>

        <ng-template #templateName>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin']">
              Admin
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/associated']">
              Asociados
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>