<section class="fade-in-bottom bg-white" id="af-main">
  <div class="container padding-container af-main">
    <div class="row">
      <div class="col-12 af-description">
        <h2 class="text-center">El ABC de AFORAPP</h2>
        <p class="text-center description">
          Somos una empresa dedicada a ofrecer soluciones innovadoras de última tecnología que facilitan los procesos de
          los
          pequeños emprendimientos. Nuestro equipo está conformado por expertos en diversas áreas que trabajan día a día
          para
          brindar soluciones eficientes y efectivas a nuestros clientes.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="fade-in-bottom diagonal-box bg-blue-light" id="af-section1">
  <div class="container padding-container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-6 text-center af-text">
        <span class="text-ABC">A</span>
      </div>
      <div class="col-sm-12 col-md-6 af-description">
        <h3>¿Para quién es?</h3>
        <p>
          En nuestra empresa, nos enfocamos en entender las necesidades de los pequeños emprendimientos y diseñar
          soluciones
          personalizadas que se adapten a sus requerimientos. Creemos que la tecnología puede ser una herramienta
          poderosa
          para impulsar el crecimiento de los negocios, y es por eso que trabajamos arduamente para ofrecer soluciones
          que
          sean fáciles de usar y que permitan a los emprendedores enfocarse en lo que realmente importa: hacer crecer
          sus
          negocios.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="fade-in-bottom diagonal-box bg-gray" id="af-section2">
  <div class="container padding-container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-6 af-description">
        <h3>¡Calidad y compromiso!</h3>
        <p>
          Nos enorgullece ofrecer productos y servicios de alta calidad que están respaldados por un equipo de soporte
          técnico
          comprometido con la satisfacción de nuestros clientes. Creemos en la importancia de establecer relaciones
          duraderas
          con nuestros clientes, y trabajamos constantemente para mejorar y evolucionar nuestras soluciones para
          adaptarnos a
          sus necesidades cambiantes.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 text-center af-text">
        <span class="text-ABC">B</span>
      </div>
    </div>
  </div>
</section>

<section class="fade-in-bottom diagonal-box bg-white" id="af-section3">
  <div class="container padding-container">

    <div class="row align-items-center">
      <div class="col-sm-12 col-md-6 text-center af-text">
        <span class="text-ABC">C</span>
      </div>
      <div class="col-sm-12 col-md-6 af-description">
        <h3>¡Expertos en tecnología!</h3>
        <p>
          Somos un equipo de expertos apasionados por la tecnología y comprometidos con brindar soluciones
          innovadoras y efectivas para pequeños emprendimientos. Estamos aquí para ayudarte a hacer crecer tu negocio y
          simplificar tus procesos diarios.
        </p>
      </div>
    </div>
  </div>
</section>