<section class="fade-in-bottom bg-white" id="af-main">
  <div class="container padding-space">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-6 af-description">
        <h1>Gestiona el aforo de tus eventos con éxito</h1>
        <p>
          El control del aforo es clave para el éxito de cualquier evento público o privado en el sector comercial.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 text-center af-video">

        <video width="510" height="360" controls>
          <source src="assets/video/main.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>

<section class="fade-in-bottom diagonal-box bg-blue-light" id="af-section1">
  <div class="container padding-space">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-6 text-center af-image">
        <img class="img-fluid w-80" src="assets/img/boy-mobile.png" alt="img-left">
      </div>
      <div class="col-sm-12 col-md-6 af-description">
        <h3>Controla el éxito de tus eventos con nuestro sistema de gestión de aforos.</h3>
        <p>
          Nuestro sistema avanzado te permite gestionar y controla el aforo de tu evento de manera eficiente y
          efectiva. Asegura la seguridad de tus asistentes y crea un evento exitoso con nuestro sistema de gestión de
          aforos.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="af-section2-father">
  <section class="fade-in-bottom diagonal-box bg-white" id="af-section2">
    <div class="container padding-space">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-6 af-description">
          <h3>¡Crea eventos exitosos!</h3>
          <p>
            Con el control adecuado del aforo, puedes crear un ambiente seguro y cómodo para tus asistentes, lo que
            aumentará su satisfacción y la probabilidad de que quieran regresar a tus futuros eventos.
          </p>
        </div>
        <div class="col-sm-12 col-md-6 text-center af-image">
          <img class="img-fluid w-80" src="assets/img/mobile.png" alt="img-rigth">
        </div>
      </div>
    </div>
  </section>
</section>

<section class="fade-in-bottom diagonal-box bg-gray" id="af-section3">
  <div class="container padding-space">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-6 text-center af-image">
        <img class="img-fluid w-80" src="assets/img/computer.png" alt="img-left">
      </div>
      <div class="col-sm-12 col-md-6 af-description">
        <h3>El éxito de tu evento comienza aquí.</h3>
        <p>
          Asegura un aforo seguro y efectivo con nuestro sistema de gestión, nuestro objetivo es ayudarte a lograr el
          éxito en tu evento, proporcionándote una herramienta clave para que puedas gestionar de forma efectiva el
          aforo de tu evento, ya sea público o privado.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="af-section4-father">
  <section class="fade-in-bottom diagonal-box bg-white" id="af-section4">
    <div class="container padding-space">
      <div class="row">

        <div class="col-12 af-carousel">
          <h3 class="text-center">Lo que nuestros clientes dicen sobre nosotros"</h3>

          <p>
            Lee lo que nuestros clientes tienen que decir sobre nuestro sistema de gestión de aforos y cómo ha ayudado a
            que sus eventos sean exitosos. Estamos orgullosos de haber ayudado a tantos clientes a mantener el control y
            la seguridad de sus eventos, y esperamos poder hacer lo mismo por ti.
          </p>

          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">

              <div class="carousel-item active">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card h-100">
                      <img src="assets/img/img-test.jpg" class="img-fluid card-img-top" alt="img-1">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional content. This content is a little bit longer.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="assets/img/img-test.jpg" class="card-img-top" alt="img-2">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                          content.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="assets/img/img-test.jpg" class="card-img-top" alt="img-3">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional content. This card has even longer content than the first to show that equal height
                          action.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card h-100">
                      <img src="assets/img/img-test.jpg" class="card-img-top" alt="img-4">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional content. This content is a little bit longer.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="assets/img/img-test.jpg" class="card-img-top" alt="img-5">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                          content.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="assets/img/img-test.jpg" class="card-img-top" alt="img-6">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional content. This card has even longer content than the first to show that equal height
                          action.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card h-100">
                      <img src="assets/img/img-test.jpg" class="card-img-top" alt="img-7">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional content. This content is a little bit longer.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="assets/img/img-test.jpg" class="card-img-top" alt="img-8">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                          content.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="assets/img/img-test.jpg" class="card-img-top" alt="img-9">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional content. This card has even longer content than the first to show that equal height
                          action.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <fa-icon [icon]="faArrowLeft"></fa-icon>
              <fa-icon [icon]="faArrowLeft" class="visually-hidden"></fa-icon>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <fa-icon [icon]="faArrowRight"></fa-icon>
              <fa-icon [icon]="faArrowRight" class="visually-hidden"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>